body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #c4a3a4;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0);
}

.login-form {
    width: 100%;
    padding: 20px;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form input[type="submit"] {
    width: 90%;
    height: 40px;
    background-color: #7736cd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0 0 0);
    transition: background-color 0.3s ease-in-out;
}

.login-form input[type="submit"]:hover {
    background-color: #3e8e4c;
}

.container {
    background-image: linear-gradient(to bottom, #8b4bed, #5e3e8e);
    background-size: 100% 300px;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}
